[package]
name = "service-codegen"
version = "0.0.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
syn.workspace = true
proc-macro2.workspace = true
quote.workspace = true
paste.workspace = true
